In [1]:
#Q1.  Discuss string slicing and provide examples?


#Ans.  String slicing is a way to find the specific elements.
#       it allows the format string like (start :end) ,where start is the index where slicing begins (inclusive) and end is the index where it ends (exclusive).


# examples : given below

In [2]:
a = " I am a girl"

In [3]:
a [0:]

' I am a girl'

In [5]:
a [ 0:7]

' I am a'

In [6]:
#syntax of slicing (start , end , step)

In [7]:
#Q2. EXplain the key features of lists in Python.


#Ans. Lists are ordered collection of items.
#     lists can store any data type.
#     lists are mutable.
#     it can store hetrogenius data.
#     lists can be nested.
#     lists elements can be accessed by index.

In [1]:
#Q3. Describe how to access, modify, and delete elements in a list with examples?


#Ans. We can access the elements in list by slicing and indexing.
#example

In [3]:
lis = [ "potato", "tomato", 1, 1.2, "pen"]

In [4]:
lis[0:] # this is slicing of list

['potato', 'tomato', 1, 1.2, 'pen']

In [5]:
lis [0] # this is indexing of list.

'potato'

In [6]:
#we can modify it by this
lis [0] = "brinjal"

In [7]:
lis

['brinjal', 'tomato', 1, 1.2, 'pen']

In [8]:
# we can delete the elements by this
lis.remove ("pen")

In [9]:
lis

['brinjal', 'tomato', 1, 1.2]

In [10]:
# Q4. Compare and contrast tuples and lists with examples.


# Ans.  Tuple is immutable but list is mutable.
#       it means we can not do any changes in tuple after created but in list we can modify the elements .
#       examples are given below:

In [10]:
#it is list
lis = [ "potato", "tomato", 1, 1.2, "pen"]

In [12]:
# we can modify it
lis [1] = "brinjal"

In [13]:
lis

['potato', 'brinjal', 1, 1.2, 'pen']

In [14]:
# we can not do changes in tuple
tup = (1,2,3,4)

In [15]:
tup [0]

1

In [16]:
tup [0] = 8

TypeError: 'tuple' object does not support item assignment

In [11]:
#Q5. Describe the key features of sets and provide examples of their use.


#Ans.  Sets are unordered and unique collection of elements.
#      it doesnot allow any duplicate elements.
#      there is no indexing in sets because it is unodered.
#      set is mutable.

In [1]:
# use case of sets.
s = {1,2,1,5,4,8,8}

In [2]:
s

{1, 2, 4, 5, 8}

In [5]:
lis1 = [1,2,3,"milk", "potato","potato", 1,2]

In [6]:
lis1

[1, 2, 3, 'milk', 'potato', 'potato', 1, 2]

In [7]:
a = set (lis1) # list is changed in set.

In [8]:
a

{1, 2, 3, 'milk', 'potato'}

In [10]:
a[1] # it is unordered that's why can not access any elements.

TypeError: 'set' object is not subscriptable

In [11]:
a .add (50) # to add something in set.

In [12]:
a

{1, 2, 3, 50, 'milk', 'potato'}

In [13]:
#Q6. Discuss the use cases of tuples and sets in Python programming.

#Ans. use case of tuple

In [15]:
tuple1 = (1,2,3,3,"aman",2)

In [16]:
tuple1

(1, 2, 3, 3, 'aman', 2)

In [18]:
tuple1. count (3)

2

In [19]:
tuple1 [0] = 8 # tuple is immutable so it can not be changed.

TypeError: 'tuple' object does not support item assignment

In [20]:
#use case of set

set1 = {1,2,2,3,5,6,7,5,5}

In [21]:
set1 # execute only unique elements

{1, 2, 3, 5, 6, 7}

In [24]:
set1 [0] # because it is unodered indexing will not work.

TypeError: 'set' object is not subscriptable

In [25]:
set1.add (8)

In [26]:
set1

{1, 2, 3, 5, 6, 7, 8}

In [29]:
set1.pop() # it will remove  elements randomly.

1

In [13]:
#Q7. Describe how to add, modify, and delete items in a dictionary with examples.

#Ans. Dictionary is a data structure that stores data as a key value pair.

In [30]:
#example of adding in dictionary
dict1 = {"name":"aman", "mob.no.":"1234", "address":"36-block,mandi"}

In [31]:
dict1

{'name': 'aman', 'mob.no.': '1234', 'address': '36-block,mandi'}

In [33]:
dict1["name"]

'aman'

In [34]:
dict1 ["email"]=  " @a123" # to add something

In [35]:
dict1

{'name': 'aman',
 'mob.no.': '1234',
 'address': '36-block,mandi',
 'email': ' @a123'}

In [36]:
dict1 ["name"] = "shivam" # to modify elements

In [37]:
dict1

{'name': 'shivam',
 'mob.no.': '1234',
 'address': '36-block,mandi',
 'email': ' @a123'}

In [38]:
del dict1 ["email"] #to delete any key value pair

In [39]:
dict1

{'name': 'shivam', 'mob.no.': '1234', 'address': '36-block,mandi'}

In [42]:
dict1.keys()# access only keys

dict_keys(['name', 'mob.no.', 'address'])

In [43]:
dict1.values()# access only values

dict_values(['shivam', '1234', '36-block,mandi'])

In [45]:
#Q8. Discuss the importance of dictionary keys being immutable and provide example.

#Ans. The dictionary keys being immutable is important because it ensures that the dictionary can efficiently look up values based on their keys.
#     exmaples are given below:

In [46]:
d = {1: "ram"} # integers as key

In [47]:
d = {1.2: "shyam"} # floating as a key

In [52]:
# but any special characters are not execute as a key.
d = {@: "r"}

SyntaxError: invalid syntax (3728489721.py, line 2)

In [53]:
d = {{"key":"aman"}:"123"} # because dictionary inside dictionary are not as a key

TypeError: unhashable type: 'dict'

In [54]:
d = {{1,2,3}:"ganga"}# can not set as a key because set is mutable

TypeError: unhashable type: 'set'

In [55]:
d = {(1,2,3,4):"jamuna"} # tuple is executed as a key because it is immutable

In [56]:
d

{(1, 2, 3, 4): 'jamuna'}

In [ ]:
# so it is clear that only immutable data type is considered as keys only